# Eliminar el .php en todos los archivos
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# Si hay error llevame a esta pagina
ErrorDocument 404 http://localhost/geyland/404