@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

nav {
    padding: 0px 1%;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.btn-color {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.btn-color:hover {
  transition: all 0.4s ease;;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
}

.messenger-search {
  padding: 15px 70px !important;
}

.input-field input[type=search] {
  padding: 10px 30px !important;
}

.img-dropdown {
  margin: 15px 60px;
}

.messenger-dropdown {
  padding: 0px 70px;
}

/* label input type search */
.input-field input[type=search]:focus + label {
  color: #9c27b0 !important;
}

/* label underline focus color type search */
.row .input-field input[type=search]:focus {
  border-bottom: 1px solid #9c27b0 !important;
  box-shadow: 0 1px 0 0 #9c27b0 !important;
}

/* label focus color */
.input-field input:focus + label {
  color: #fa4299 !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #fa4299 !important;
  box-shadow: 0 1px 0 0 #fa4299 !important;
}

/* label focus color textarea */
.input-field textarea:focus + label {
  color: #fa4299 !important;
}

/* Textarea */
.row .input-field textarea:focus {
  border-bottom: 1px solid #fa4299 !important;
  box-shadow: 0 1px 0 0 #fa4299 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #fa4299 !important; 
}

/* Colocar foto de perfil dentro de la de portada */
.header {
  position: relative;
}

.cover-pic {
  object-fit: cover;
  width: 100%;
}

.profile-pic {
  position: absolute;
  left: 20px;
  bottom: -100px;
  height: 200px;
  width: 200px;
}


/* Cursor pointer al icono coment en las publicaciones */
#click-comment {
  cursor: pointer !important;
}