@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

nav {
    padding: 0px 1%;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.btn-color {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.btn-color:hover {
  transition: all 0.4s ease;;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
}

.img-dropdown {
  margin: 15px 60px;
}

.messenger-dropdown {
  padding: 0px 70px;
}

/* label focus color */
.input-field input:focus + label {
  color: #fa4299 !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #fa4299 !important;
  box-shadow: 0 1px 0 0 #fa4299 !important;
}

/* label focus color textarea */
.input-field textarea:focus + label {
  color: #fa4299 !important;
}

/* Textarea */
.row .input-field textarea:focus {
  border-bottom: 1px solid #fa4299 !important;
  box-shadow: 0 1px 0 0 #fa4299 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #fa4299 !important; 
}